#navMenu{
margin:0 0 0 94;
padding:0;
height: 67px;
}
#navMenu ul{
margin:0;
padding:0;
line-height:30px;
<!--width: 851px;-->
    }
#navMenu ul li{
margin:0;
padding:0;
list-style-type:none;
float:left;
position:relative;
background:#000;
top: 0px;
left: 3px;
width: 147px;
    }

#navMenu ul li a{
text-align:center;
font-family:"comic sans ms", curive;
text-decoration:none;
height:30px;
width:150px;
display:block;
color:#FFF;
border:1px solid #FFF;
text-shadow:1px 1px 1px #000;

}

#navMenu ul ul{
 margin:0;
 padding:0;
position:absolute;
visibility:hidden;
top:32px;
}

#navMenu ul li:hover ul{
visibility:visible;

}

#navMenu li:hover
{
    background:#09F;
    
}

#navMenu ul li:hover ul li a:hover
{
    background:#CCC;
    color:#000;
}

#navMenu a:hover
{
    color:#000;

}
.clear
{
    clear:both;
    padding:0;
    margin:0;
}